<div class="card one">
  <div class="card-body one">

    <div class="titulo">Agregar usuarios</div>

    <form>

      <div *ngIf="!isValid" class="arros" >{{message}}</div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend3">
                <i class="material-icons">perm_identity</i>
              </span>
            </div>
            <input type="text" [(ngModel)]="user.primerNombre" name="primerNombre" class="form-control is-valid" id="validationServer01" placeholder="Primer nombre" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend3">
                <i class="material-icons">perm_identity</i>
              </span>
            </div>
            <input type="text" [(ngModel)]="user.segundoNombre" name="segundoNombre" class="form-control is-valid" id="validationServer02" placeholder="Segundo Nombre">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend3">
                <i class="material-icons prefix">person_pin</i>
              </span>
            </div>
            <input type="text" [(ngModel)]="user.primerApellido" name="primerAperllido" class="form-control is-invalid" id="validationServer01" placeholder="Primer apellido" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend3">
                <i class="material-icons prefix">person_pin</i>
              </span>
            </div>
            <input type="text" [(ngModel)]="user.segundoApellido" name="segundoAperllido" class="form-control is-invalid" id="validationServer04" placeholder="Seegundo apellido">
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend3">
                <i class="material-icons prefix">email</i>
              </span>
            </div>
            <input type="email" [(ngModel)]="user.email" name="email" class="form-control is-invalid" id="validationServerUsername" placeholder="Email" aria-describedby="inputGroupPrepend3" required>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="material-icons prefix">map</i>
              </span>
            </div>
            <input type="text" [(ngModel)]="user.direccion" name="direccion" class="form-control is-invalid" id="validationServer04" placeholder="Dirección">
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit" (click)="seveOrUpdate()">
        <i class="material-icons right">send</i>
        AGREGAR
      </button>

      <button class="btn btn-secundary right" type="reset">
          <i class="material-icons right">send</i>
          AGREGAR
        </button>
    </form>
    
  </div>
</div>