<div class="card one">
  <div class="car-body one">

    <div class="titulo">Lista de Usuarios</div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Primer Nombre</th>
          <th scope="col">Segundo Nombre</th>
          <th scope="col">Primer Apellido</th>
          <th scope="col">Segundo Apellido</th>
          <th scope="col">Email</th>
          <th scope="col">Dirección</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.primerNombre}}</td>
          <td>{{user.segundoNombre}}</td>
          <td>{{user.primerApellido}}</td>
          <td>{{user.segundoApellido}}</td>
          <td>{{user.email}}</td>
          <td>{{user.direccion}}</td>
          <td>
          <i class="material-icons " (click)="edit(user)">edit</i>
          <i class="material-icons " (click)="delete(user)">delete</i>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>